<script type="text/template" id="cancelClass-tmpl">
<% _.each(students, function(student) { %>
	<tr class="member">
		<td><%=student.name%></td>
        <td><%=student.className%></td>
	</tr>
<% }); %>
</script>
